<div class="jumbotron">
  <div class="container">
    <h1>Riddle Me This, Earth</h1>
    <p>How many riddles can the smartest man on Earth come up with? The answer: not as many as the smartest man on Earth + the collective "intelligence" of the rest of the planet. My duels with the dark detective have left my well of witticisms dry. You will therefore create an account for this website, submit your best brain benders, and help me evaluate the submissions of others. Perform these tasks well, and you stand to receive shares in my future operations.</p>
    <p><em>-E. Nigma</em></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <% if !logged_in? %>
      <div class="col-md-4 col-md-offset-4">
        <div class="page-header">
          <h1>
            Sign Up <small>or Sign In</small>
          </h1>
        </div>
        <a class="btn btn-success center-block" href="<%= account_path %>" role="button">Go &gt;</a>
      </div>
    <% else %>
      <div class="col-md-5">
        <div class="page-header">
          <h1>
            Submit a Riddle<br/>
            <small>Jokes are NOT Riddles</small>
          </h1>
        </div>
        <a class="btn btn-success center-block" href="<%= new_riddle_path %>" role="button">Go &gt;</a>
      </div>
      <div class="col-md-5 col-md-offset-2">
        <div class="page-header">
          <h1>
            Answer a Riddle<br/>
            <small>No Cheating</small>
          </h1>
        </div>
        <a class="btn btn-success center-block" href="<%= answer_riddle_path %>" role="button">Go &gt;</a>
      </div>
    <% end %>
  </div>
</div>