<div class="container">
  <%= render 'shared/error_messages' %>
  <div class="row">
    <div class="col-md-5">
      <div class="page-header">
        <h1>Sign In</h1>
      </div>
      <%= form_for(:session, url: login_path) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.submit "Sign in", class: "btn btn-success" %>
      <% end %>
    </div>
    <div class="col-md-5 col-md-offset-2">
      <div class="page-header">
        <h1>Sign Up</h1>
      </div>
      <%= form_for(@newUser) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "Create account", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
