<% if @newUser && @newUser.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@newUser.errors.count, "error") %>.
    </div>
    <ul>
    <% @newUser.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% elsif @newRiddle && @newRiddle.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@newRiddle.errors.count, "error") %>.
    </div>
    <ul>
    <% @newRiddle.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% elsif @errorMsg && !@errorMsg.empty? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= @errorMsg %>
    </div>
  </div>
<% end %>