<div class="container">
  <%= render 'shared/error_messages' %>
  <%= render 'shared/success_messages' %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="page-header">
        <h1>Write a Riddle <small>and make it clever</small></h1>
      </div>
      <%= form_for(@newRiddle) do |f| %>
        <div class="field">
          <%= f.text_area :question, placeholder: "Riddle me this..." %>
        </div>

        <%= f.label :answer_1 %>
        <%= f.text_field :answer_1, class: 'form-control' %>

        <%= f.label :answer_2 %>
        <%= f.text_field :answer_2, class: 'form-control' %>

        <%= f.label :answer_3 %>
        <%= f.text_field :answer_3, class: 'form-control' %>

        <%= f.label :answer_4 %>
        <%= f.text_field :answer_4, class: 'form-control' %>

        <%= f.label :right_answer %>
        <%= f.select :right_answer, [[1,1], [2,2], [3,3], [4,4]], class: 'form-control' %>

        <%= f.submit "Submit", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>