<div class="container">
  <%= render 'shared/error_messages' %>
  <%= render 'shared/success_messages' %>
  <div class="page-header">
    <h1>Riddle me this...</h1>
  </div>
  <p><em><%= @riddle.question %></em></p>
  <form action="/answer_riddle" method="post">
    <div style="display:none">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="answers" id="answer1" value="1">
        <%= @riddle.answer_1 %>
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="answers" id="answer2" value="2">
        <%= @riddle.answer_2 %>
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="answers" id="answer3" value="3">
        <%= @riddle.answer_3 %>
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="answers" id="answer4" value="4">
        <%= @riddle.answer_4 %>
      </label>
    </div>
    <input class="btn btn-success" name="commit" type="submit" value="Submit" />
  </form>
</div>