<!DOCTYPE html>
<html>
<head>
  <title>Riddle Me This</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">RMT</a>
      </div>
      <% if logged_in? %>
        <p class="navbar-text navbar-right"><strong><%= @current_user.name %></strong> <%= link_to "Sign out", logout_path, method: "delete", class: "navbar-link" %></p>
      <% end %>
    </div>
  </nav>

<%= yield %>

  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text"><em>Owned by The Riddler. All rights reserved.</em></p>
    </div>
  </nav>
</body>
</html>
